<div class="yourappointment">
<h2>Appointment Card</h2>
<br>
<b>Doctor:</b> <%= @appointment.doctor %><br>
<br>
<b>Clinic:</b><%= @appointment.clinic %><br>
<br>
<b>Time:</b> <%= @appointment.time %><br> 
<br>
<b>Address:</b> <%= @appointment.address %><br> 
<br>
<b>Phone number:</b> <%= @appointment.phone %> <br>
<br>
<b>Description:</b> <%= @appointment.description %>

</div>

<a href="/appointments">Back to Appointments</a><br> 

<br>

<a href="/appointments/<%= @appointment.id %>/edit">Edit</a><br> 

<br>

<form method="POST" action="/appointments/<%= @appointment.id %>">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="delete">
</form>

<style>
    .yourappointment {
        text-align: left;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 35%;
        padding-bottom: 5%;
        border: 2px solid #8a2be2; 
        border-radius: 10px;
        padding: 50px;
        width: 20%;
        height: 20%;
    }

    .yourappointment input{
        border: 2px solid #99dcf7; 
        margin-bottom: 15px;
        margin-top: 5px;
        float: center;
        width: 100%;
    }

 
</style>

